{%extends 'base.html'%}

<!-- THIS PAGE WILL FETCH ENDPOINTS USING JAVASCRIPT -->

{%block content%}

<div class="row text-center">
    <div class="col">
        <h1>Tweet Home Page</h1>        
    </div>
</div>
<!-- tweet create form comes here -->
<div class="row text-center">
    <div class="col-10 col-md-6 mx-auto">
        <form class="form" id="tweet-create-form" method="POST" action="/create-tweet/">
            {%csrf_token%}
            <!-- using this to redirect to '/' after form submission
            handled by the create view & fetched as name:'/' -->
            <input type="hidden" name="next" value="/"/>
            <input class="form-control my-2" id="tweet-input" name="content" placeholder="Create your tweet"/>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</div>
<!-- tweets come here -->
<div id="tweets" class="container row"></div>

<script>
    //setting initial value
    const content = 'loading...';
    const tweetContentElement = document.querySelector('#tweets');
    tweetContentElement.innerText = content;
    //tweets array url
    const url = 'http://localhost:8000/tweets/';
    //fetching tweets
    const fetchTweets = async () => {
        let tweets = await axios.get(url);
        return tweets.data.response;
    }
    //likes handler function
    function likesHandler(id, likes) {
        console.log(id,'has',likes,'likes');
    }
    //like button function
    function likeButton(data) {
        return `<button 
        class="btn btn-primary like-button"
        onClick=likesHandler(${data.id},${data.likes})
        > 
        Like 
        </button>`
    }
    //tweets formatter 
    function tweetFormat(data) {
        return (
            `<div class="col-12 col-md-10 mx-auto my-2 border py-2">
            <p class="tweet" id="tweet-${data.id}"> ${data.content} </p>
            <div class="btn-group"> ${likeButton(data)} </div>
            </div>
            `
        )
    }
    //setting values on page load
    const showTweets = async () => {
        let tweets = await fetchTweets();
        let list = ''
        // let tweetsElement = document.querySelector('#tweets')
        for(let tweet of tweets) {
            list += tweetFormat(tweet);
        }
        // tweetsElement.innerHTML = list;
        tweetContentElement.innerHTML = list;
    }
    showTweets();
    //2:22 
    const tweetFormElement = document.querySelector('#tweet-create-form');
    tweetFormElement.addEventListener('submit', (event) => {
        event.preventDefault();
        //FormData fetches keyVals of the form's data
        //keys are name of form els and vals are value
        const formData = new FormData(event.target);
        const url = event.target.getAttribute('action');
        const method = event.target.getAttribute('method');
        axios({
            method: method,
            url: url,
            data: formData,
            //add this for the sake of django to know that
            //this is an ajax request, not necessary though
            headers: {
                "HTTP_X_REQUESTED_WITH" : "XMLHttpRequest",
                "X-Requested-with": "XMLHttpRequest"
            }
        }).then((res) => {
            //emptying the input field 
            document.querySelector('#tweet-input').value = '';
            tweetChildElement = tweetFormat(res.data);
            tweetContentElement.innerHTML = tweetChildElement + tweetContentElement.innerHTML ;
            //or I could have done 
            // showTweets();
        })        
    });
</script>

{%endblock%}